* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#startup-screen,
#container,
button {
    font-family: 'Electrolize', sans-serif;
}

#startup-screen {
    
    background-image: url("assets/startscreen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: black; */
    width: 100%;
    height: 100vh;
    
}

#container {
    
    background-image: url("assets/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}

#game-title {
    font-size: 10rem;
    color: #fe019a;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-shadow: 0 0 0.15em #fe019a;
}

#begin-game {
    display: flex;
    justify-content: center;
    
}

#lets-play {
    background-color: transparent;
}

#start-button {
    background-color: black;
}

#lets-play, #start-button {
    padding: 0.5em 0.75em;
    margin: 0.25em;
    border-radius: 0.75em;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #04d9ff;
    border: currentColor 3px solid;
    box-shadow: inset 0 0 .5em 0 currentColor, 0 0 .5em 0 currentColor;
    text-shadow: 0 0 0.25em currentColor
}

#restart-button {
    padding: 0.5em 0.75em;
    margin: 0.25em;
    border-radius: 0.75em;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #fe019a;
    background-color: black;
    border: currentColor 3px solid;
    box-shadow: inset 0 0 .5em 0 currentColor, 0 0 .5em 0 currentColor;
    text-shadow: 0 0 0.25em currentColor
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-area {
    border: 2px solid #fe019a;
    box-shadow: 0 0 2em 0 #fe019a;
    margin-bottom: 40px;
}

#current-score, #high-score {
    color: #04d9ff;
    font-size: 27px;
    text-shadow: 0 0 0.5em currentColor
}

#scores {
    display: flex;
    justify-content: center;
    gap: 20em;
    padding: 1em;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#begin-game, #buttons {
    transition: all 0.5s;
    
}

#begin-game:hover,
#restart-button:hover,
#start-button:hover {
    transform: scale(0.9);
}




